<table class="container">
  <button class="btn btn-primary mb-4" (click)="toggleNotifications()">{{ notificationsEnabled ? 'Parar de receber notificações' : 'Receber notificações' }}</button>
  <tr>

    <td class="inbox">

      <div class="column">
        <span class="inbox">Inbox</span>
      </div>
    </td>
    <td class="welcome">
      <div class="column">
        <div class="row"></div>
      </div>
    </td>
  </tr>
  <tr>
    <td class="inbox" >
      <div class="column">
        <div class="row">
          <strong>Hello</strong><br />
          <span class="welcome-text">Welcome</span><br />
          <span class="your-text">Your temp e-mail address is ready...</span>

        </div>


      </div>
      <div class="column">
        <div class="row">
          <h2></h2>
        </div>
      </div>
      <div class="column">
        <div class="row">
          <h2></h2>
        </div>
      </div>
      <div class="column">
        <div class="row">
          <h2></h2>
        </div>
      </div>
      <div class="column">
        <div class="row">
          <h2></h2>
        </div>
      </div>
      <div class="column">
        <div class="row">
          <h2></h2>
        </div>
      </div>

    </td>
    <td class="welcome">
      <div class="column">
        <div class="row">
          <strong>Welcome</strong>
        </div>
        <div class="custom-box">
          Hi drf,<br />

          Your temp e-mail address is ready <br />

          If you need help read the information below and do not hesitate to contact us. <br />

          All the best, <br />
          DropMail <br />
        </div>
      </div>
    </td>
  </tr>





</table>
